@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$font-family: 'Lato', sans-serif;

$black:#000;
$white:    #fff;
$gray:#E1E1E1;
$gray-100:#ababab;
$olive: #AEAE00;
$olive-100:#808000;
$dropdown-padding-y:0px;

$colors: (
  "black":      $black,
  "white":      $white,
);

$theme-colors: (
  "primary": $olive,
  "secondary": $olive-100,
  "light":      $gray,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
